[submodule "sources/shiboken"]
	path = sources/shiboken
	url = https://github.com/enthought/Shiboken.git
[submodule "sources/pyside"]
	path = sources/pyside
	url = https://github.com/enthought/PySide.git
[submodule "sources/pyside-tools"]
	path = sources/pyside-tools
	url = https://github.com/enthought/PySide-Tools.git
[submodule "sources/pyside-examples"]
	path = sources/pyside-examples
	url = https://git.gitorious.org/pyside/pyside-examples.git
